.main-container {
    margin: 0 auto;
    width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#text {
    margin-bottom: 20px;
}

.keyboard {
    width: 100%;
    height: 250px;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: space-between ;
    padding: 20px;
}

.keyboard__row {
display: flex;
justify-content: space-between;
}

.key {
    background-color: aquamarine;
    height: 40px;
    min-width: 40px;
    border: black 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: all 200ms;
}

.key:hover {
    background-color: darkgoldenrod;
}

.key_special {
    background-color: violet;
    padding: 0 5px;
}

.key_special:hover {
    background-color: darkmagenta;
}

.space {
    width: 360px;
}

.active {
    background-color: bisque;
    border-radius: 20px;
    transition: all 200ms;
}

.shiftleft {
    width: 110px;
}

.enter {
    width: 100px;
}

.shiftright {
    padding: 0;
}

.key_arrow {
    background-color:cornflowerblue;
    padding: 0;
}
 .keyboard__description {
    font-family: Arial, Helvetica, sans-serif;
 }