.main-container {
    margin: 0 auto;
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #14471E;
}

#text {
    margin-bottom: 20px;
    border: #14471E 3px solid;
    border-radius: 10px;
}

.keyboard {
    width: 100%;
    height: 230px;
    background-color: #8ba897;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
}

.keyboard__row {
display: flex;
justify-content: center;
gap: 5px;
}

.key {
    background-color: #68904D;
    height: 40px;
    min-width: 40px;
    border:  #C8D2D1 1px solid;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: all 200ms;
    color:  #C8D2D1;;
}

.key:hover {
    background-color: #14471E;
}

.key:active {
        background-color: #e0c9a7;
}

.key_special {
    background-color: #EE9B01;
 
}

.key_special:hover {
    background-color: #DA6A00;
}

.key_special:active {
    background-color: #e0c9a7;
}

.Space {
    width: 320px;
}

.active {
    background-color: #e0c9a7;
    border-radius: 10px;
    transition: all 300ms;
}

.ShiftLeft {
    width: 87px;
}

.Enter {
    width: 94px;
}

 .keyboard__description {
    font-family: Arial, Helvetica, sans-serif;
    color: #DA6A00;
 }

 .CapsLock {
    width: 80px;
 }

 .Backspace {
width: 88px;
 }

 .Lang {
    background-color: #DA6A00;
    color: aliceblue;
 }